/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

.back-image {
    background-image: url("./view1/background.jpg");
    background-repeat: no-repeat;
}

.disabled {
    pointer-events: none;
    opacity: 0.7;
}

.disponible {
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
  margin-left: 41%;
  transition: margin 6s;
}

.espera {
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fb8002;
  margin-left: 41%;
}

.procesando {
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #b8140e;
  margin-left: 41%;
  transition: margin 6s;
}

.usersInAscensor {
  width: 20px;
  height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #1419b8;
  margin-left: 53%;
  margin-top: -20px;
  margin-bottom: 5px;
  color: white;
}
.open{
  transition: margin 7s;
}