<div class="grid-container fluid" ng-cloak>
    <div class="grid-x grid-margin-x grid-margin-y" style="margin-top: 35px">
        <div class="small-3 cell">
            <div class="small-12" ng-repeat="piso in ViewCtrl.ctrl.pisos" style="margin-bottom: 100px">
                <span class="label primary" ng-bind="'PISO '+ piso"></span>
            </div>
        </div>
        <div class="small-12 medium-3 cell text-center" ng-repeat="ascensor in ViewCtrl.ctrl.ascensores">
            <p style="margin-top: -44px">
                <span class="label warning">{{ascensor.text | uppercase}}</span>
            </p>

            <div style="margin-top: {{ascensor.marginTopModify}}px; transition: {{ascensor.transitionAscensor}}"
                 class="section_{{ascensor.ascensorId}}">
                <div class="{{ascensor.status}}" title="{{ascensor.status}}"></div>
                <div class="usersInAscensor">{{ascensor.usersInAscensor}}</div>
                <img src="./view1/cerrado.PNG"
                     style="height: 70px; width: 80px;">
            </div>
        </div>
        <div class="small-12 cell" style="border: 2px solid;">
        </div>
        <div class="small-12 medium-3 cell pull-left">
            <fieldset class="fieldset">
                <legend>Tablero de Control</legend>
                <label><b>Piso Actual</b></label>
                <select name="" id="" ng-model="ViewCtrl.ctrl.currentPiso">
                    <option value="" disabled>Selecciona el Piso</option>
                    <option ng-repeat="piso in ViewCtrl.ctrl.pisos" value="{{piso}}">PISO {{piso}}</option>
                </select>
                <label><b>Piso a dirigirse</b></label>
                <div class="small button-group">
                    <button type="button" class="button secondary"
                            style="margin: 5px"
                            ng-repeat="piso in ViewCtrl.ctrl.pisos"
                            ng-class="{'disabled': ViewCtrl.ctrl.pisoSelected == piso}"
                            ng-click="ViewCtrl.ctrl.addUserToPiso(piso)">PISO {{piso}}
                    </button>
                </div>
                <label><b>Numero de Usuarios</b></label>
                <input type="number" ng-model="ViewCtrl.ctrl.numUsers" min="0">
                <div class="small-12 cell pull-right">
                    <button type="button" class="button small expanded primary"
                            ng-click="ViewCtrl.ctrl.executeAscensor()">EJECUTAR
                    </button>
                </div>
            </fieldset>
        </div>
        <div class="small-12 medium-2 cell">
            <fieldset class="fieldset">
                <legend>Usuario(s) en Espera</legend>
                <p ng-repeat="(key, piso) in ViewCtrl.ctrl.pisosTop" ng-show="piso.userInProgress > 0">
                    <b>Piso</b>: {{piso.ascensorArecoger}}<br>
                    <b>Usuari(os) en Espera: </b> <span ng-bind-html="piso.userInProgress"></span>
                </p>
            </fieldset>
        </div>
        <div class="small-12 medium-5 cell pull-right">
            <fieldset class="fieldset">
                <legend>Visualización de Ascensores Disponibles</legend>
                <p ng-repeat="log in ViewCtrl.ctrl.log">
                    <b>Piso a Recojer: </b> {{log.piso}}<br>
                    <b>Fecha</b>: {{log.date}}<br>
                    <b>Mensaje del Sistema</b>: <span ng-bind-html="log.message | uppercase"></span>
                </p>
            </fieldset>
        </div>
        <div class="small-12 medium-2 cell pull-right">
            <fieldset class="fieldset">
                <legend>Convenciones</legend>
                <span>
                    <b style="margin-top: 7px; position: absolute">Ocupado</b> <div style="margin-bottom: 14px" class="procesando"></div>
                </span>
                <span>
                    <b style="margin-top: 7px; position: absolute">Disponible</b> <div style="margin-bottom: 14px" class="disponible"></div>
                </span><br>
                <small style="color: #8c8c8c">
                    <b>EN ESTA SIMULACIÓN MANEJAMOS 7 SEGUNDOS</b>
                </small>
            </fieldset>
        </div>
    </div>
</div>